{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>AAD B2C App Test</h1>
    <p class="lead">This is an AAD B2C App Test, it's based on Flask as a free web framework for building web apps</p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Source Code for this App is hosted in oespirilla Github repositories, you can look at the code here.
        </p>
        <p><a target="_blank" class="btn btn-default" href="https://github.com/oespirilla/aad-b2c-login">View Code &raquo;</a></p>
    </div>
</div>

{% endblock %}
